nav{
    
    position: fixed; /* fijamos el contenedor */
    width: 100%;
    top:0%;
    font-size: large;
  }
  
  .menu li:hover{
    background: rgb(165, 13, 13);
  }

  .menu{
    display: flex; /* Esto convierte la lista ul en un contenedor flexbox, lo que permite que sus elementos hijos li se distribuyan en línea horizontalmente.*/
    list-style: none;
   background: linear-gradient(to right,rgb(233, 16, 16),rgb(104, 62, 218) );
    padding: 0px;
    margin: 0px; /* Elimina el padding y el margen del contenedor del menú para que no haya espacio adicional alrededor del menú.*/
    height: 50px;
    align-items: center; /*Centra verticalmente los elementos dentro del contenedor flex en la línea de base del menú.*/
    color: rgb(255, 255, 255);
  
  }
  
  .menu li{
    margin: 10px; /*Añade un margen alrededor de cada elemento de la lista (li), creando espacio entre los elementos del menú.*/
  }
  
  .menu li:hover ul{
  display: block; /*Hace visible el submenú (ul), ya que por defecto está oculto. Cuando el usuario hace hover, el submenú se muestra.*/
  }
  
  .menu a{
    text-decoration: none; /*Elimina el subrayado de los enlaces en el menú*/
    color: white;
  display: block;
  padding: 10px;
  
  }
 
  #menudes{
    margin-bottom: 30px;
  }

footer{
    position: fixed;
    bottom: 0; /* Fija en la parte inferior (si es necesario) */
    left: 0;/*Fija el menu a la izquiera de todo*/
    width: 100%; /* Hace que el pie ocupe todo el ancho de la página */
    background: #333;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: medium;
    
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:x-large;
    color: white;
    padding-top: 20px; /* Espacio superior desde donde inicio el contenido para no taparlo por el header */
    padding-bottom: 20px;/* Espacio inferior desde donde inicio el contenido para no taparlo por el footer*/
    margin: 0; /* Se agrega 0 para elimnar el margen que trae por defecto*/
    background-image: url(ImagenesInt/1337139.png); /* Agrega la imagen de fondo */
    background-size: cover; /* Cubre toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-sizing: border-box;
    
}

body :visited{
    color: white; /*cambiar el color del link visitado en body*/
}

main {
     /* Fondo negro para el main */
    color: white; /* Texto blanco para el main */
    padding: 20px; /* Espacio interno en el main para que el texto no esté pegado a los bordes */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    box-sizing: border-box;
}

.columna {
    display: flex; /* Utiliza Flexbox */
    flex-direction: row; /* Alinea elementos en fila */
    justify-content: space-between; /* Espacio entre columnas */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan si es necesario */
}

.columna > div {
    flex: 1; /* Cada columna toma el mismo espacio */
    margin: 10px; /* Espacio entre columnas */
    min-width: 300px; /* Asegura que las columnas no sean demasiado estrechas */
    box-sizing: border-box; /* Incluye el padding y el margen en el ancho total */
}


.columna img {
    transition: transform 0.3s ease; /* Transición suave */
}

.columna img:hover {
    transform: scale(1.3); /* Cuando paso el mouse aumenta el tamaño de la imagen al 130% */
    cursor: pointer; /* Cambia el cursor a una manito*/
}

h1{
    font-size: 40px;
}
h2, h3 {
    font-size:50px; /* Cambia este valor al tamaño deseado */
    margin: 10px 0; /* Espaciado superior e inferior */
}

a{
  color: red;
}

#texto{
  overflow: hidden;
  text-align: center;
}

.image-container { /*STYLO DE TEMPORAL MUESTRA CARROUSEL*/
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}