nav{
    
    position: fixed; /* fijamos el contenedor */
    width: 100%;
    top:0%;
    font-size: large;
    z-index: 10000;
  }
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

a:visited{
  color: orange;
}
  
  .menu li:hover{
    background: rgb(190, 16, 16);
    transition: 0.6s;
  }

  .menu li{
    height: 100%;
    
   }

  .menu{
    display: flex; /* Esto convierte la lista ul en un contenedor flexbox, lo que permite que sus elementos hijos li se distribuyan en línea horizontalmente.*/
    list-style: none;
   background: linear-gradient(to right,#df0a0a,#e66e36 );
    margin: 0px; /* Elimina el padding y el margen del contenedor del menú para que no haya espacio adicional alrededor del menú.*/
    height: 60px;
    color: rgb(255, 255, 255);
 
  }
  
  ul.menu{
  justify-content: center;
  padding:0;
  }

  .menu a{
    text-decoration: none; /*Elimina el subrayado de los enlaces en el menú*/
    color: white;
  display: block;
  height: 100%;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  
  }
 
  #menudes{
    margin-bottom: 30px;
  }

footer{
    position: fixed;
    bottom: 0; /* Fija en la parte inferior (si es necesario) */
    left: 0;/*Fija el menu a la izquiera de todo*/
    width: 100%; /* Hace que el pie ocupe todo el ancho de la página */
    background: #333;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: medium;
    
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:large;
    color: white;
    padding-top: 20px; /* Espacio superior desde donde inicio el contenido para no taparlo por el header */
    padding-bottom: 20px;/* Espacio inferior desde donde inicio el contenido para no taparlo por el footer*/
    margin: 0; /* Se agrega 0 para elimnar el margen que trae por defecto*/
    background: black;
    background-size: 100%; /* Cubre toda el área */
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-sizing: border-box;
    
}


main {
     /* Fondo negro para el main */
    color: white; /* Texto blanco para el main */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    padding-top: 60px; /* Espacio para el encabezado */
} /* Asegura que ocupe toda la altura de la ventana */
   



.moviesContainer {
    display: flex; /* Utiliza Flexbox */
    flex-direction: row; /* Alinea elementos en fila */
    justify-content: space-between; /* Espacio entre columnas */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan si es necesario */
    margin: 40px;
    margin-top: 5px;
}

.moviesContainer  div {
    flex: 1; /* Cada columna toma el mismo espacio */
    margin: 30px; /* Espacio entre columnas */
    min-width: 300px; /* Asegura que las columnas no sean demasiado estrechas */
    padding: 20px;
    border: 1px groove gray;
    box-sizing: border-box;

  
}

.moviesContainer p {
  display: flex; /* Añade Flexbox al párrafo */
  flex-direction: column; /* Asegura que el texto y la imagen estén en columna */
  align-items: center; /* Centra los elementos (texto e imagen) horizontalmente */
}


.moviesContainer div p img {
    transition: transform 0.3s ease; /* Transición suave */
    max-width: 100%; /* Evita que la imagen se salga del contenedor */
    height: 400px; /* Mantiene la proporción de la imagen */
    width: 300px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(153, 150, 150, 0.6);
   
}

.moviesContainer  .columna  img:hover {
    transform: scale(1.2); /* Cuando paso el mouse aumenta el tamaño de la imagen al 130% */
    cursor: pointer; /* Cambia el cursor a una manito*/
}

h1{
    font-size: 40px;
    margin: 50px 0px 0px 30px; /* Espaciado superior e inferior */
}

#headerTitle{
  font-size: 60px;
    margin: 50px 0px 0px 30px; /* Espaciado superior e inferior */
    border-block-start-style: solid;
    border-block-end-style: solid;
   
}


h1,h2,h3{
  text-shadow: 0 0 5px rgb(151, 29, 29),
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}

#formHeader{
  margin-bottom: 50px;
  margin-top: 50px;
}

.headerPrincipal{
  font-size:45px; /* Cambia este valor al tamaño deseado */
    margin: 50px 0; /* Espaciado superior e inferior */
}
h2,h3 {
    font-size:45px; /* Cambia este valor al tamaño deseado */
    margin: 50px 0; /* Espaciado superior e inferior */
}

.titleMovie{
  font-size:30px; /* Cambia este valor al tamaño deseado */
  margin: 20px;
}

a{
  color: rgb(253, 73, 49);
}

.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor div{

  text-align: center;
  font-size: 25px;
  width: 50%;
  padding: 50px;
  backdrop-filter: blur(7px);

}


.image-container { /*STYLO (?*/
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

/**/

.carousel {
  display: flex; /* Bendito flexbox */
  justify-content: center; /* Centra el contenido del carrusel horizontalmente */
  align-items: center; /* Centra el contenido del carrusel verticalmente */
  margin: 50px 0 0px 0; /* Margen superior e inferior */
}

.carousel img {
  margin: 100px 20px 80px 20px; /* Margen a los lados de la imagen */
  height: 500px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}

.botones{
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);

}

.botones:hover{
  cursor: pointer;
  transform: scale(1.2,1.2);
  background-color: rgba(54, 0, 0, 0.7);
}

.atras{
  left: 15%;
  top: 60%
}

.adelante{
  right: 15%;
  top: 60%
}

img:hover{
  transform: scale(1.1);
}

/*formulario*/
.formContainer{
  backdrop-filter: blur(7px);
  background: rgba(250, 158, 158, 0.212);
  border-radius: 60px 70px 40px 140px;
  width: 700px;
  height: 700px;
  padding:80px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(226, 217, 217, 0.6);

}


.formContainer:hover{
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s;
}

input{
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid white;
  width:100%;
  color: white;
  font-size: medium;
  margin-top: 5px;
 margin-bottom: 30px;
}

.buttonF{
  border: 1px solid white;
  outline: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #c42929, #e66e36);
  height: 40px;
  width: 300px;
  color: white;
  font-size: large;
  margin: 30px 120px 20px 120px;

}

.buttonF:hover{
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
 }
 span{
  color: rgb(235, 54, 54);
  display: none;
  margin-bottom: 10px;
  margin-top: -30px;
  font-size: small;
}

label{
  font-size: 30px;
}

/*feedback*/
#FeedBack{
  margin-top: 100px;
  margin-bottom: 100px;
  background: linear-gradient(to right,#ad1919,#e66e36 );
  width: 30%;
  height: 300px;
  padding: 30px;
  border-radius: 15px;
  font-size: x-large;
  
}
#FeedBackTitle{
  margin-top: 0;
  margin-bottom: 0px;
}

/*diseño responsive*/
@media (max-width: 768px) {
  body{
    margin-top: 200px;
    margin-bottom: 80px;
  }
  nav {
    font-size: medium; /* Tamaño de fuente más pequeño */
  }

  .menu {
    flex-direction: column; /* Cambia a columna */
    height: auto; /* Ajusta la altura del menú */
  }

  .menu li {
    text-align: center; /* Centra los elementos del menú */
    width: 100%; /* Toma todo el ancho disponible */
  }

  .menu a {
    padding: 15px; /* Aumenta el espacio de los enlaces */
  }

  .moviesContainer {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    margin: 20px;
  }

  .moviesContainer div {
    margin: 15px 0; /* Ajusta el margen entre elementos */
    min-width: 100%; /* Toma todo el ancho disponible */
  }

  .moviesContainer div p img {
    height: 50%; /* Ajusta la altura automáticamente */
    width: 50%; /* Imagen ocupa el 100% del contenedor */
  }

  .formContainer {
    width: 80%; /* Se ajusta al ancho de la pantalla */
    height: 90%;
    padding: 20px;
    border-radius: 20px; /* Reducción del borde para dispositivos móviles */
  }

  input {
    font-size: small; /* Reduce el tamaño de las entradas */
  }

  .buttonF {
    width: 100%; /* Botón ocupa todo el ancho */
    margin: 20px 0; /* Ajuste de margen */
  }

  .carousel img {
    height: 300px; /* Reduce el tamaño de las imágenes */
  }

  .botones {
    width: 70px;
    height: 60px;
    font-size: 30px;
    background: #000000;
    padding-bottom: 10px;
  }

  .atras, .adelante {
    top: calc(50% + 270px); /* Ajusta la posición de los botones */
  }

  h1, h2, h3, .titleMovie, .headerPrincipal {
    font-size: 20px; /* Reduce el tamaño de los títulos */
    margin: 20px 0; /* Ajusta el margen */
  }

#formHeader{
  margin-top: 0px;
  margin-bottom: 100px;
}

#headerTitle{
  font-size: 40px;
  margin-bottom: -80px;
}

  .contenedor div {
    font-size: 18px; /* Ajusta el tamaño del texto */
    padding: 20px; /* Reduce el relleno */
  }

  .contenedor{
    margin-top: 40px;
  }

  p{
    font-size: 15px;
  }
}

